
.block {
	padding: 50px 0;
}


.slider_fon {
	background-color: #202020;
	padding: 70px 0 130px;
}



.slider_title {
	font-size: 30px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.933;
	text-align: center;
	margin-bottom: 30px;
}
.slider_descr {
	font-size: 14px;
	color: rgb(70, 70, 70);
	line-height: 1.429;
	text-align: center;
	margin-bottom: 50px;
}
.item-trademark {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-content: center;
}
.item-trademark img {
	display: block;
	width: 60%;
	height: auto;
	opacity: .4;
	@include transition(all, 0.4s, ease);
}
.item-trademark img:hover {
	opacity: 1;
}

.slick-prev:before, .slick-next:before {
	width: 20px;
	height: 20px;
	background-color: #fff;

	border-radius: 10px;
	display: none;
}
#clients_slider {
	width: 90%;
	margin:0 auto;
}
.slick-prev {
	background:url('../img/slider/arrow-sprite.png') left top no-repeat;
	width: 30px;
	height: 30px;
}
.slick-next {
	background:url('../img/slider/arrow-sprite.png') left bottom no-repeat;
	width: 30px;
	height: 30px;
}
.slick-prev:hover {
	background:url('../img/slider/arrow-sprite.png') right top no-repeat;
	width: 30px;
	height: 30px;
}

.slick-next:hover {
	background:url('../img/slider/arrow-sprite.png') right bottom no-repeat;
	width: 30px;
	height: 30px;
}
.slick-prev {
	left: -50px;
}
.slick-next {
	right: -50px;
}

.form_fon {
	background-color: #8dc63f;
	padding: 75px 0 55px 0;
}

.form_title {
	font-size: 30px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.933;
	text-align: center;
	margin-bottom: 45px;
}
.form_title:before {
	content: '';
	width: 70px;
	height: 2px;
	background-color: #fff;
	display: block;
	margin: 0 auto 30px;
}
.form_wrap {
	display: flex;
	justify-content: space-between;
}

.form_on_form {
	width: 46%;
}

.form_on_map {
	width: 50%;
}


.forms-call {
	width: 100%;
	padding: 0;
	border: 0;
}
.forms-call label{
	margin:10px 0;
	display:block;
	width: 100%;
}

.forms-call input{
	width: 100%;
	height: 50px;
	font-weight: normal;
	line-height: 50px;
	text-indent: 10px;
	font-size: 20px;
	color: rgb(255, 255, 255);
	background-color: #202020;
	border:0;
	margin-bottom: 20px;
	border-radius: 10px;
}


.forms-call textarea{
	width: 100%;
	height: 150px;
	line-height: 1.6;
	text-indent: 10px;
	font-size: 20px;
	color: rgb(255, 255, 255);
	background-color: #202020;
	border:0;
	resize:none;
	padding-left: 0;
	margin-bottom: 20px;
	border-radius: 10px;
}

.footer_call .block_mini_link {
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-radius: 10px;
	background-color: rgb(229, 73, 58);
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	border:0;
	cursor: pointer;
	@include transition(all, 0.5s, ease);
}

.footer_call .block_mini_link:hover {
background-color: darken(rgb(229, 73, 58), .4);

}
