footer {
	background-color: #111111;
	padding: 26px 0;
}

.footer_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
align-content: center;
justify-content: center;
}
