@import "var";
.container {
	position: relative;
}
.header_top {
	border-bottom: 4px solid $acsent_color;
	background-color: $main_color;
}

.header_top_line {
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_top_logo {
	padding: 0;
	margin: 0;
}

.header_top_logo img {
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 10px 0 0;
}

.header_top_menu {
	padding: 0;
	margin: 0;
}

.header_top_menu ul {
	display: flex;
	list-style: none;
}

.header_top_menu ul li a {
	@include font-size(12px);
	line-height: 1.67;
	text-decoration: none;
	font-family: "RalewayRegular", sans-serif;
	color: $text_color;
	padding:10px 20px;
	text-transform: uppercase;
	display: inline-block;
	@include trans;
}

.header_top_menu ul li a:before {
	content:'';
	width: 8px;
	height: 2px;
	background-color: $acsent_color;
	display: block;
	margin-bottom: 2px;
	opacity: 0;
	@include trans;
}

.header_top_menu ul li.active a {
	color: $acsent_color;
}

.header_top_menu ul li a:hover:before {
	opacity: 1;
}

.header_top_menu ul li a:hover {
	color: $acsent_color;
}

.header_fon {
	padding: 0;
	margin: 0;
	background-size: cover;
	background-position: center right;
	background-repeat: no-repeat;
}

.header_content_wrap {
	min-height: 770px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header_content {
	width: 52%;
}

.header_content_title {
	@include font-size(80px);
	color:#ffffff;
	margin-bottom: 20px;
	line-height: 1;
	text-transform: uppercase;
}




.header_content_title span {
	display: block;
	@include font-size(43px);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.86;
}

.header_content_descr {
	@include font-size(18px);
	color:#555555;
	margin-bottom: 40px;
	color: rgb(85, 85, 85);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.333;
}

.header_button {
	list-style:none;
	display: flex;
}

.header_button li {
	margin-right: 30px;
}

.header_button li:last-child {
	margin-right: 0;
}
.works_fd_buttom,
.header_button li a {
	display: inline-block;
	border-radius: 5px;
	background-color: rgba(229, 73, 58, 0);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(255, 255, 255);
	padding: 20px 30px;
	color:rgb(255, 255, 255);
	text-transform: uppercase;
	text-decoration: none;
	@include trans;
}

.header_button li a:hover {
	background-color:$acsent_color;
	border-color: $acsent_color;
}
.works_fd_buttom {
	background-color: #8dc63f;
	border-color:  #8dc63f;
}

.block {
	padding: 75px 0;
}


.block_features_fon {
	background-color:$main_color;
}
.features_wrap {
	display: flex;
	justify-content: space-between;
}

.features_items {
	width: (100% / 4) - 2%;
	@include trans;
	cursor: pointer;
}

.features_title {
	@include font-size(18px);
	color: rgb(99, 99, 99);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.111;
	margin-bottom: 15px;
}
.features_icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border:2px solid $text_color;
	margin:0 auto 30px;
}

.features_icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.features_text {
	@include font-size(14px);
	color: $text_color;
	line-height: 1.429;
	@include trans;
}
.features_text:after {
	content:'';
	width: 72px;
	height: 2px;
	background-color: $acsent_color;
	display: block;
	margin-top: 30px;
	// opacity: 0;
	@include trans;
}

.features_items:hover .features_title {
	color:$acsent_color;
}

.features_items:hover .features_text {
	color:#ffffff;
}

.features_items:hover .features_icon {
	border-color:$acsent_color;
}

.features_items:hover .features_icon svg {
	fill:$acsent_color;
	color:$acsent_color;
}

.advatages_title {
	@include visually-hidden;
}

.svg-badge-dims { width: 42px; height: 40px; }
.svg-image-dims { width: 21px; height: 17px; }
.svg-leaf-dims { width: 29px; height: 40px; }
.svg-link-dims { width: 15px; height: 14px; }
.svg-photo-camera-dims { width: 22px; height: 16px; }
.svg-search-dims { width: 15px; height: 15px; }
.svg-settings-work-tool-dims { width: 41px; height: 40px; }
.svg-smartphone-dims { width: 25px; height: 41px; }
.svg-video-dims { width: 18px; height: 20px; }

// grid
.works_block {
	background-color: #202020;
	padding: 80px 0 160px 0;
}

.works_list_block {
	display: grid;
	grid-template-columns:repeat(12, minmax(60px, auto));
	grid-auto-rows:minmax(270px, auto);@include trans;

}

.works_list_items {
	background-color:#202020;
	padding: 30px 15px 20px 15px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	position: relative;@include trans;
}

.works_block_title {
	@include font-size(30px);
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.933;
	margin-bottom: 30px;position: relative;
}
.works_block_descr {
	@include font-size(14px);
	color: rgb(70, 70, 70);
	line-height: 1.429;position: relative;
}

.works_list_items:nth-child(1) {
	grid-column: span 3;
}

.works_list_items:nth-child(2) {
	grid-column: span 6;
}

.works_list_items:nth-child(3) {
	grid-column: span 3;
}
.works_list_items:nth-child(4) {
	grid-column: span 3;
}

.works_list_items:nth-child(5) {
	grid-column: span 5;
}
.works_list_items:nth-child(6) {
	grid-column: span 4;
}

.works_items_list_magnify {
	width: 30px;
	height: 30px;
	position: relative;
	display: inline-block;
	border-radius: 50%;
	background-color: #252525;
	color: #fff;
	fill:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.works_items_list_magnify:hover {
	@include transition(all, 0.3s, ease);
	background-color: #acsent_color;

}
.works_list ul {
	padding: 0;
	margin: 0;
	list-style:none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.works_list ul li {
	margin-right: 3px;

}
.works_list ul li:last-child {
	margin-right: 0;

}
.works_list_items:before {
	position: absolute;
	content:"" ;
	background-color: rgba(#000, .1);
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	box-shadow: inset 0px 0px 1px 6px rgba(229,73,58, 1.0);
	opacity: 0;
}

.works_list_items:hover:before {
	opacity: 1;
	background-color: rgba(#000, .5);
	@include transition(all, 0.2s, ease);
}




.works_list_items:nth-child(1):hover:before {
	opacity: 0;
	background-color: rgba(#000, .5);
	@include transition(all, 0.2s, ease);
}







.works_list_items:hover .works_items_title {
	opacity: 1;
	@include transition(all, 0.3s, ease);
}
.works_list_items:hover .works_items_descr {
	opacity: 1;
	@include transition(all, 0.4s, ease);
}
.works_list_items:hover .works_list {
	opacity: 1;
	@include transition(all, 0.5s, ease);
}

.works_items_title {
	position: relative;
	@include font-size(24px);
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.98;
	text-align: left;
	margin-bottom: 16px;
	opacity: 0;
}

.works_items_descr {
	position: relative;
	@include font-size(12px);
	color: rgb(149, 149, 149);
	text-transform: uppercase;
	line-height: 1.667;
	opacity: 0;
}

.works_list {
	padding: 0;
	margin: 0 0 0 auto;
	opacity: 0;
}




.works_fullydesign_fon {
	background-color: #252525;
	padding: 80px 0 0 0;
}
.skills_wrapper,
.works_fullydesign_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.skills_wrapper_right,
.works_fd_left {
	width: 65% - 2.5%;
	align-self: flex-end;
}
.skills_wrapper_left,
.works_fd_right {
	width: 100% - 65%;
	padding-bottom: 100px;
}

.works_fd_left img {
	display: block;
	width: 100%;
	height: auto;
}

.works_fd_title {
	@include font-size(30px);
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.933;
	text-align: left;
	margin-bottom: 30px;
}

.works_fd_descr {
	@include font-size(14px);
	color: rgb(149, 149, 149);
	line-height: 1.286;
	margin-bottom: 30px;
}
.works_fd_list {
	padding: 0;
	margin: 0;
	padding-left: 52px;
	margin-bottom: 52px;
	list-style: none;
}
.works_fd_list li {
	@include font-size(14px);
	color: rgb(149, 149, 149);
	line-height: 1.286;
	position: relative;
	margin-bottom: 22px;
}
.works_fd_list li:last-child {
	margin-bottom: 0;
}

.works_fd_list li:before {
	top:50%;
	left:-27px;
	margin-top: -1px;
	position: absolute;
	content: '';
	width: 8px;
	height: 2px;
	background-color: $acsent_color;
}

.skills_fon {
	background-color: $acsent_color;
	padding: 70px 0;
}


// оформление блока опыта

.skills_title {
	font-size: 30px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.933;
	margin-bottom: 30px;
}
.skills_text {
	font-size: 14px;
	color: rgb(255, 255, 255);
	line-height: 1.429;
	text-align: left;
	margin-bottom: 45px;
}

.blog_fon {
	background-color: #252525;
	padding: 115px 0 153px 0;
}

.blog_wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, minmax(130px, auto));
}

.blog_items {
	padding: 30px 15px 35px 15px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #252525;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}



.blog_items:nth-child(1) {
	grid-column: span 4;
	grid-row: 1 / 3;
}

.blog_items:nth-child(2) {
	grid-column: span 8;
	grid-row: 1 / 4;
	order: -1;
}

.blog_items:nth-child(3) {
	grid-column: span 5;
	grid-row: 4 / 6;
}
.blog_items:nth-child(4) {
	grid-column: span 3;
	grid-row: 4 / 6;

}

.blog_items:nth-child(5) {
	grid-column: span 4;
	grid-row: 3 / 6;
}

.blog_items_title {
	font-size: 30px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.933;
	margin-bottom: 30px;
}

.blog_items_links {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	background-color: #000;
	color:#fff;
	fill:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.blog_items_title {
	font-size: 30px;position: relative;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1;
}
.blog_items_descr a,
.blog_items_title a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	@include transition(all, 0.5s, ease);
}
.blog_items_descr a:hover,
.blog_items_title a:hover {
	text-decoration: underline;
}
.blog_items_descr {
	position: relative;
	font-size: 12px;
	color: rgb(149, 149, 149);
	line-height: 1.429;
	text-transform: uppercase;
}

.blog_items_descr:after {
	content:'';
	background-color:$acsent_color;
	width: 70px;
	height: 2px;
	display: block;
	margin-top: 30px;
}

.blog_items:nth-child(1) .blog_items_descr:after {
	display: none;
}

.blog_items {
	position: relative;
}

.blog_items:before {
	position: absolute;
	content:"" ;
	background-color: rgba(#000, .1);
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	box-shadow: inset 0px 0px 1px 6px rgba(229,73,58, 1.0);
	opacity: 0;
}

.blog_items:hover:before {
	opacity: 1;
	background-color: rgba(#000, .5);
	@include transition(all, 0.2s, ease);
}

.blog_items:nth-child(1):hover:before {
	opacity: 0;
	background-color: rgba(#000, .5);
	@include transition(all, 0.2s, ease);
}






// оформляю блок скилов

.progress {

}
.skills_progress {
margin-bottom: 30px;
}
.progress_name {
font-size: 14px; margin-bottom: 20px;
color:#fff;
font-weight: 700;
text-transform: uppercase;
line-height: 1.429;
}
.progree_element {
border-radius: 3px;
border:1px solid rgba(255, 255, 255, .25);
padding: 2px;
}
.progree_line {
background-color: #fff;
height: 4px;
position: relative;
width: 0;
}
.progree_tooltip {
position: absolute;
right: -15px;
top:-32px;
width: 31px;
font-size: 11px;
line-height: (18 / 11);
text-align: center;
background-color: $main_color;
color:#fff;
border-radius: 3px;
display: none;
}
.progree_tooltip:before {
content: '';
border: 4px solid transparent;
border-top: 4px solid $main_color;
position: absolute;
bottom:-7px;
left:50%;
transform:translateX(-50%);
}














