.ic {
    font-size: 10px;
}

.ic:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("svg.svg");
    background-repeat: no-repeat;
    background-size: 4.2em 13.6em;
}

.no-svg .ic:before {
    background-image: url("../svg.png");
}



  .ic.i-sp-badge:before {
      background-position: 0em 0em;
      width: 4.2em;
      height: 4em;
  }




  .ic.i-sp-leaf:before {
      background-position: 0em -4em;
      width: 2.9em;
      height: 4em;
  }




  .ic.i-sp-photo-camera:before {
      background-position: 0em -8em;
      width: 2.2em;
      height: 1.6em;
  }




  .ic.i-sp-settings-work-tool:before {
      background-position: 0em -9.6em;
      width: 4.1em;
      height: 4em;
  }





